[Desktop Entry]
Comment=Use WPS Presentation to edit and play presentations.
Comment[tr]= WPS Sunum, sunumlarınızı düzenleyin ve sunun.
Comment[zh_CN]=使用 WPS 演示编辑、播放演示文稿
Exec=/usr/bin/wpp %f
GenericName=WPS Presentation
GenericName[zh_CN]=WPS 演示
MimeType=application/wps-office.dps;application/wps-office.dpt;application/wps-office.ppt;application/wps-office.pot;application/vnd.ms-powerpoint;application/vnd.mspowerpoint;application/mspowerpoint;application/powerpoint;application/x-mspowerpoint;application/wps-office.pptx;application/wps-office.potx;
Name=WPS Presentation
Name[tr]= WPS Sunum
Name[zh_CN]=WPS 演示
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Presentation;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office-wppmain
InitialPreference=3
