[Desktop Entry]
Type=Application
Icon=user-desktop
Name=Desktop Preferences
Name[tr]= Masaüstü Tercihleri
Comment=Change desktop wallpapers and behavior of desktop manager
Comment[tr]=Masaüstü yöneticisinin davranışların ve duvar kağıdını değiştirin
Categories=Settings;Qt;DesktopSettings;
Exec=/usr/bin/pcmanfm-qt --desktop-pref=general
StartupNotify=true
Terminal=false
NotShowIn=GNOME;XFCE;KDE;
