[Desktop Entry]
Name=Package Manager
Name[da]=Pakke Håndtering
Name[de]=Paket-Manager
Name[en]=Package Manager
Name[es]=Administrador de Paquetes
Name[fr]=Gestionnaire de paquets
Name[hr]=Upravitelj paketa
Name[hu]=Csomagkezelő
Name[it]=Gestore dei Pacchetti
Name[ka_GE]=პაკეტი მენეჯერი
Name[lt]=Paketų menadžeris
Name[nl]=Pakketbeheer
Name[pl]=Menadżer Pakietów
Name[pt_BR]=Gerenciador de Pacotes
Name[ru]=Менеджер пакетов
Name[sr]=Управљач пакетима
Name[sv]=Pakethanteraren
Name[t]=Paketų menadžeris
Name[tr]=Paket Yöneticisi
Name[uk]=Керування пакунками
GenericName=Add or Remove Software
GenericName[da]=Tilføj eller Fjern Software
GenericName[de]=Software hinzufügen oder entfernen
GenericName[en]=Add or Remove Software
GenericName[es]=Agregar o remover Programas
GenericName[fr]=Ajouter ou supprimer des logiciels
GenericName[hr]=Dodaj ili ukloni software
GenericName[hu]=Szoftver hozzáadása vagy eltávolítása
GenericName[it]=Aggiungi o Rimuovi Software
GenericName[ka_GE]=დამატება ან წაშლა პროგრამები
GenericName[lt]=Prideti arba pašalinti programos
GenericName[nl]=Software toevoegen of verwijderen
GenericName[pl]=Dodaj/Usuń Programy
GenericName[pt_BR]=Adicionar ou Remover Software
GenericName[ru]=Установка и удаление программ
GenericName[sr]=Додај или уклони софтвер
GenericName[sv]=Lägg till eller ta bort program
GenericName[t]=Prideti arba pašalinti programos
GenericName[tr]=Yazılım ekle veya kaldır
GenericName[uk]=Встановлення та вилучення програм
Comment=PiSi Package Manager Graphical User Interface
Comment[da]=PiSi Pakke Håndteringens Grafiske Brugerflade
Comment[de]=PiSi Paket-Manager grafische Nutzeroberfläche (GUI)
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[es]=Interfaz gráfico del administrador de paquetes PiSi
Comment[fr]=Interface graphique de PiSi
Comment[hr]=Pisi upravitelj paketa grafičko sučelje
Comment[hu]=PiSi Csomagkezelő Grafikus felhasználói felület
Comment[it]=Interfaccia grafica per il gestore di pacchetti PiSi
Comment[ka_GE]=PiSi პაკეტების მენეჯერის გრაფიკული ინტერფეისი
Comment[lt]=Grafinė vartotojo sąsaja Pisi paketų menadžerio 
Comment[nl]=PiSi pakketbeheer grafische gebruikersinterface
Comment[pl]=Menadżer Pakietów PiSi - Graficzny Interfejs Użytkownika
Comment[pt_BR]=Interface Gráfica de Usuário do Gerenciador de Pacotes PiSi
Comment[ru]=Графический пользовательский интерфейс менеджера пакетов PiSi
Comment[sr]=Графичко окружење ПиСи управљача пакета
Comment[sv]=Pakethanteraren PiSis grafiska användargränssnitt
Comment[t]=Grafinė vartotojo sąsaja Pisi paketų menadžerio 
Comment[tr]=PİSİ paket yöneticisinin grafik ara yüzü
Comment[uk]=Графічний інтефейс керування пакунками PiSi
Icon=package-manager
Type=Application
Exec=package-manager --show-mainwindow
Categories=Qt;KDE;System;
