#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=lshw
Name[tr]=lshw (Donamım Listeleyici)
GenericName=Hardware Lister
GenericName[tr]=Donanım Listeleyici
Icon=/usr/share/lshw/artwork/logo.svg
Exec=/usr/bin/xdg-su -c /usr/sbin/gtk-lshw
Terminal=false
StartupNotify=false
Categories=Application;System;
